
*
    font-size: 22px

.flex-container
    display: flex

    &>div
        padding: 50px

.img-label
    text-align: center
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-size: 25px

.logo
    height: 200px
    width: 200px
